.gridHeader
{
  background-color: #381C00;text-align: center;height:40px;font-weight: 800;color: #fff;padding-top:15px;
}

.gridRow:hover
{
  background-color:	#f9edd6;
  box-shadow: #381C00 2px;
}

.gridRow
{
  border-bottom: solid 1px #000;border-left: solid 1px #000;border-right: solid 1px #000;padding-bottom:10px;text-align: center;padding-top:10px;cursor: pointer;
  

}